
MYSQL_ROOT_PASSWORD=pass
DB_MIDAS_ROOT_USER=midas
DB_MIDAS_ROOT_PASS=midaspass
DB_MIDAS_API_USER=midas_api
DB_MIDAS_API_PASS=midas_api_pass
DB_MIDAS_BACKUP_USER=midas_backup
DB_MIDAS_BACKUP_PASS=midas_backup_pass
DB_DATABASE_NAME=midas

